/* ****************** ESTILO DO CABEÇALHO **************/
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    color: aliceblue;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);


}


.cabecalho-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 30%;

}

.cabecalho-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cabecalho-image>img {
    height: 90px;
}


.nav-link {
    color: aliceblue;
}

.teste {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    color: aliceblue;
}
a:hover{
 transform: scale(1.1);
 color: black;
}
.nav-item{
    margin: 8px;
}


.btn {
    border-radius: 32px;
    background-color: orangered;
    width: 250px;
    color: aliceblue;
}

@media (max-width:426px) {
    .btn {
        width: 70px;
        color: aliceblue;
    }
}


.cabecalho-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 30%;

}

.cabecalho-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cabecalho-image>img {
    height: 90px;
}

.menu {
    display: none;
}




@media(max-width: 859px) {
    .cabecalho-logo {

        width: 30%;
    }

    img {
        height: 50px;
        width: 50px;
    }

    header {
        height: 115px;
    }

    .cabecalho-image>img {
        height: 80px;
    }


    .mobile-intro {
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin: 10px 0;
    }


    .navbar {
        display: none;
    }



    .menu {
        position: relative;
        margin: 0 auto 0 auto;
        width: 70px;
        border-radius: 25px;
        transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .menu--closed {
        height: 50px;
    }

    .menu--open {
        display: flex;
        flex-direction: row;
        justify-content: right-center;

        height: 50px;
        width: 400px;
    }

    .button {
        transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
        ;
        cursor: pointer;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 2em;
        height: 2em;
        left: 27%;
        opacity: 1;
    }

    .button:hover {
        opacity: 0.6;
    }

    .button span {
        width: 100%;
        height: 1px;
        background-color: #161616;
        border-radius: 20%;
    }

    .menu--open .button {
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 10%;
        justify-content: flex-start;
        transform-origin: center;
        transform: rotate(90deg);
    }

    .tools {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: space-between;
        height: 60%;
        justify-content: flex-end;
        transition: 0.3s margin ease-in-out;
    }


    .tools .icon {
        transition: 0.2s transform ease-in-out;
    }

    .tools .icon:hover {
        transform: scale(0.8);
    }

    .tools--hidden {
        margin-top: 400px;
        z-index: -100;
    }

    .tools--visible {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin-left: 15%;
        height: 60px;
        z-index: 100;
    }

    .btn {
        width: 100px;
    }
}

@media(max-width: 769px) {
    .cabecalho-image {
        display: none;
    }
}

@media(max-width: 426px) {
    .cabecalho-logo {
        display: none;
    }

    .btn {
        display: none;
    }


    /* .menu{display: none;} */
}

/* ****************** ESTILO DO CABEÇALHO **************/