.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 130px;

   
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);


}

.cabecalho-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
   width: 30%;

}

.cabecalho-textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cabecalho-image>img {
    height: 90px;
}


.nav-link{
    color: aliceblue;
}
.teste {
display: flex;
flex-direction: row;
justify-content: space-around;
}
li {

    transition: all 0.3s;
}

li:nth-child(odd) {
    font-weight: 400;
}

li:hover {
    font-size: x-large;

}
.btn{
    border-radius: 32px;
    background-color: orangered;
    width: 250px;
    color: aliceblue;
}
#conteudo{
    display: flex;
    flex-direction: row;
    height:70%;
}
#leftSide{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#rightSide{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-home{
    height: 300px;
}
#rodape{
    position: absolute;
	bottom: 0;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   width: 100%;
}
h2{
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
}