@media (max-width:1174px){
    h2{
        font-size: 3.5em;
    }
}

@media (max-width:426px){
    #conteudo{
        flex-direction: column;
        height: fit-content;
        gap: 15px;
    }
   
    #leftSide{
        display: none;
    
    }
    #rightSide{
        width: 100%;
        justify-content: flex-start;
        padding: 0 20px;
        gap:10px;
        height: fit-content;
        
    }
    #btn-cad{
        width: 200px;
    }
}