* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--preto);
    color: var(--fonte);

}

body {
    background-image: url("../img/FrontEnders-background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#root {
    --botao: orangered;
    --fonte: aliceblue;
    --preto: black;
}

#header {
    width: 100%;

}

#rodape {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 5%;
}

/* ****************** ESTILO DO cABEÇALHO **************/
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    color: aliceblue;


    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);


}


.cabecalho-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 30%;

}

.cabecalho-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cabecalho-image>img {
    height: 90px;
}


.nav-link {
    color: aliceblue;
}

.teste {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {

    transition: all 0.3s;
}

li:nth-child(odd) {
    font-weight: 400;
}

li:hover {
    font-size: x-large;

}

.btn {
    border-radius: 32px;
    background-color: orangered;
    width: 250px;
    color: aliceblue;
}
/* ****************** ESTILO DO cABEÇALHO **************/